@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@700&family=M+PLUS+1:wght@400;900&family=Qahiri&family=Raleway:wght@100&family=Roboto+Mono:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  margin-left: 10px;
  background-image: url('/Users/Janecho/Development/final-project/final-project/client/src/background/background-1.jpeg');
}
.App-header {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: purple;
  margin-top: 10px;

}
.calendar{
  margin-left: 10 px;
  margin-right: 50%;
}
.eventList{
  margin-right: 10px;
  margin-left: 55%;
  
}
.merchContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  font-size: 15px;
  text-align: left;
  padding: 3rem
}
.merchDesc{
  font-size: 12px;
}