@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@700&family=M+PLUS+1:wght@400;900&family=Qahiri&family=Raleway:wght@100&family=Roboto+Mono:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  margin-left: 15px;
  font-weight: bolder;
  /* background-image: url('/Users/Janecho/Development/final-project/final-project/client/src/background/background-1.jpeg'); */
  min-height: 100%;
  /* background-image: url('/Users/Janecho/Development/final-project/final-project/client/src/background/background-1.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
}



.App-header {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: purple;
  margin-top: 25px;
  padding-top: 25px;

}
.greeting {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: purple;
  margin-top: 10px;
  padding-top: 10px;

}
.happy_place{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: purple;
  margin-top: 10px;
  padding-top: 10px;

}

.calendar {
  vertical-align:top;
  display: inline-block;
  width:55%;
  
  border-radius: 1rem;
    
   
}  

.eventList{
  vertical-align:top;
  display: inline-block;
    width:40%;
    margin-left: 20px;
    background-color:#B0A8B9;
    border-radius: 1rem; 
    opacity: 0.6;
    font-style: oblique;
    color:purple;
    padding-right: 10px;
    padding-left: 10px;
  
}
.merchContainer{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.each_merch{
  display: flex;
  padding: 1rem;
  width: 25%;
}
.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.8;
}
.merch_image{
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 1rem;
  }
.merch_info{
  margin-left: 10px;
  font-size: 15px;
}
.merchDesc{
  font-size: 12px;
  margin-right: 10px;
}
.add_to_cart{
  text-align: center;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 50%;
}
.store_merch{
  
  text-align: center;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 50%;
}

.profile_pic{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #cddc39;
}
.NavBar button {
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:500;
  border-radius:5px;
  cursor: pointer;
  margin-top: 10px;
  opacity: 0.6;
  font-family: 'Roboto Mono', monospace;
}
.NavBar button:hover{
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:500;
  border-radius:5px;
  cursor: pointer;
  margin-top: 10px;
  opacity: 1;
  font-style:italic;
  font-family: 'Roboto Mono', monospace;
}

.NavBar{
  text-align: center;
  padding: 10px
  
}
.profile{

    margin-left: 20px;
    
    border-radius: 1rem; 
    
    font-style: oblique;
    color:purple;;
    padding-right: 10px;
    padding-left: 10px;
}
.profile_box{
  vertical-align:top;
  
    width:45%;
    margin-left: 20px;
    background-color:#B0A8B9;
    border-radius: 1rem; 
    opacity: 0.8;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
button {
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:500;
  border-radius:5px;
  cursor: pointer;
  margin-top: 50px;
  opacity: 0.6;
  font-family: 'Roboto Mono', monospace;
}
button:hover{
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:500;
  border-radius:5px;
  cursor: pointer;
  margin-top: 50px;
  opacity: 1;
  font-style:italic;
  font-family: 'Roboto Mono', monospace;
}
input[type=submit]{
  margin-left: 10px;
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:500;
  border-radius:5px;
  cursor: pointer;
  margin-top: 50px;
  opacity: 0.6;
  font-family: 'Roboto Mono', monospace;
}
input[type=submit]:hover{
  margin-left: 10px;
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:500;
  border-radius:5px;
  cursor: pointer;
  margin-top: 50px;
  opacity: 1;
  font-style:italic;
  font-family: 'Roboto Mono', monospace;
}

.order_list{
  vertical-align:top;
  color:purple;;
  width:45%;
  margin-left: 20px;
  background-color:#B0A8B9;
  border-radius: 1rem; 
  opacity: 0.8;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;

}
.text-input{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
  height: 40%;
}
input[type=text] {
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sign_up_form_container input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}
.sign_up_form_container input[type=password]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sign_up_form_container input[type=date]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sign_up_form_container input[type=file]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sign_up_form_container select{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
label {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  margin-left: 25px;
}
.sign_up_form_container{
  vertical-align:top;
  
    width:45%;
    margin-left: 20px;
    background-color:#B0A8B9;
    border-radius: 1rem; 
    opacity: 0.8;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.login_form_container input[type=password]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login_form_container input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}
input[type=number]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type=file]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subscription_box{
  vertical-align:top;
  
    width:45%;
    margin-left: 20px;
    background-color:#B0A8B9;
    border-radius: 1rem; 
    opacity: 0.8;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}