@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@700&family=M+PLUS+1:wght@400;900&family=Qahiri&family=Raleway:wght@100&family=Roboto+Mono:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  margin-left: 15px;
  
  /* background-image: url('/Users/Janecho/Development/final-project/final-project/client/src/background/background-1.jpeg'); */
  min-height: 100%;
  background-image: url('/Users/Janecho/Development/final-project/final-project/client/src/background/background-1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed
}



.App-header {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: purple;
  margin-top: 10px;

}
.calendar{
  margin-left: 10 px;
  margin-right: 50%;
}
.eventList{
  margin-right: 10px;
  margin-left: 55%;
  
}
.merchContainer{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.each_merch{
  display: flex;
  padding: 1rem;
  width: 25%;
}
.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}
.merch_image{
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 1rem;
  }
.merch_info{
  margin-left: 10px;
  font-size: 15px;
}
.merchDesc{
  font-size: 12px;
  margin-right: 10px;
}
.add_to_cart{
  text-align: center;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 50%;
}